body{
    display: grid;
}
header {
    background-color: lightpink;
    border: 1px solid #000000;
    height: 100px;
}
aside {
    background: lightskyblue;
    border: 1px solid #000000;
}
main {
    background: yellow;
    border: 1px solid #000000;
}
footer {
    background: grey;
    border: 1px solid #000000;
    color: white;
}
.norm{
    background-color: red;
    color: pink;
    font-size: 2rem;
    display: none;
    top: 0;
    text-align: center;
    padding: 10px 20px 30px;
}


/* Meniu Stilius */
.meniu > a {
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 0;
    margin-right: 10px;
    border-right: 1px solid black;
    transition: color 1s ease-in-out;
    width: 100px;
}
.meniu:last-child {
    border-right: none;
}
/* Animacija */
.meniu > a:hover{
    color: blue;
    font-size: 1.5rem;
}